{% extends "base.html.j2" %}

{% block head_css %}
{% endblock %}

{% block head_js %}
{% endblock %}

{% block body_content %}
<div class="container-fluid">
    <div class="row border align-items-start">
        <div id="header" class="col-12">
            Верхняя часть
        </div>
    </div>

    <div id="middle" class="row align-items-center">
        <div id="left-side" class="border col-2">
            Левая часть
        </div>
        <div id="center" class="border col-8">
            Средняя часть
        </div>
        <div id="right-side" class="border col-2">
            Правая часть
        </div>
    </div>
</div>
<div class="footer">
    <div id="footer" class="col-12">
        Нижняя часть
    </div>
</div>
{% endblock %}