/*серый фон страницы*//*
*//* @body-bg: #f8f8f8;*//*
*//*специфический голубой фон данного дизайна*//*
@brand-primary: #29c5e6;
*//*фон панелей*//*
@panel-bg: #f3f3f3;
*//*цвет рамки панелей*//*
@panel-inner-border: #e7e7e7;
*//*убираем скругление у блоков*//*
@border-radius-base: 0;
*//*первичные кнопки имеют голубой фон*//*
@btn-primary-bg: @brand-primary;
*//*если ширина экрана больше 992px, то ширина контейнера 960px*//*
@container-md: 960px;
*//*если ширина экрана больше 1200px, то ширина контейнера так же 960px*//*
@container-lg: @container-md;
*//*основным шрифтом будет Tahoma*//*
@font-family-base: Tahoma, sans-serif;
*//*задаем базовый размер*//*
@font-size-base: 12px;
*//*основной цвет текста на странице*//*
@text-color: #8f8f8f;
*//*серый фон текстовых полей*//*
@input-bg: @panel-bg;
*//*серая рамка текстовых полей*//*
@input-border: @panel-inner-border;
*//*серый цвет текста в полях*//*
@input-color: #b2b2b2;*/

p {
	margin: 20px 0;
}

.form-control {
	box-shadow: none;
}

/*.btn {
	font-family: @font-family-base;
}*/

body {
	border-top: 5px solid #7e7e7e;
	background-image: url(../images/bg.png);
}

@grid-columns: 24;

body .wrapper {
		padding: 0 0 50px 0;
	}

body header {
		padding: 20px 0;
	}

body .wrapper header .form-search {
		width: 200px;
	}

/*высота навигационного меню*//*
@navbar-height: 37px;

*//*задаем  побольше горизонтальный отступ*//*
@nav-link-padding: 10px 30px;

*//*фон для пунктов меню*//*
@navbar-default-bg: @panel-bg;

*//*цвет текста в пунктах меню*//*
@navbar-default-link-color: #b2b2b2;

*//*и при наведении мышки – такой же*//*
@navbar-default-link-hover-color: @navbar-default-link-color;

*//*фон активного пункта меню – наш специфический голубой цвет*//*
@navbar-default-link-active-bg: @brand-primary;

*//*цвет текста активного пункта меню*//*
@navbar-default-link-active-color: #fff;*/

body .wrapper .navbar a {
    text-transform: uppercase;
    font: 16px sans-serif;
}

body .wrapper .heading {
			height: 40px;
			background: transparent url(../images/h1-bg.png);
			margin: 30px 0;
			padding-left: 20px;

		}
body .wrapper .heading h1 {
        display: inline-block;
        color: #7e7e7e;
        font: normal 40px/40px sans-serif;
        background: url(../images/bg.png);
        margin: 0;
        padding: 0 10px;
        text-transform: uppercase;
    }

/*
@list-group-bg: @panel-bg;
@list-group-border: @panel-inner-border;*/

body .wrapper .submenu {
    margin-bottom: 30px;
}

body .wrapper  .submenu li {
    display: list-item;
    font: 300 14px sans-serif;
    list-style-position: inside;
    list-style-type: square;
    padding: 10px;
    text-transform: uppercase;
}

body .wrapper  .submenu li .active {
    color: @brand-primary;
}

body .wrapper  .submenu li a {
    color: @text-color;
    text-decoration: none;
}

body .wrapper  .submenu li :hover {
        color: @text-color;
}

.panel {
	box-shadow: none;
	}

@panel-primary-border: @panel-inner-border;

.panel .panel-heading {
		font: 14px sans-serif;
		text-transform: uppercase;
		padding: 10px;
	}

.panel .panel-body {
		padding: 10px;
	}

@jumbotron-bg: @brand-primary;
@jumbotron-color: #fff;

body .wrapper .jumbotron {
			border-radius: 0;
		      	padding: 0;
			margin: 0;
}

body .wrapper .jumbotron blockquote {
    border-left: none;
}
body .wrapper .jumbotron blockquote p {
    font: 300 italic 33px @brand-font;
    text-transform: uppercase;
    margin-bottom: 0;
}

body .wrapper .jumbotron blockquote small {
    text-align: right;
    color: #1D8EA6;
    font: 300 20px @brand-font;
}
body .wrapper .jumbotron blockquote :before {
    content: '';
}

@thumbnail-padding: 1px;
@thumbnail-border: #c9c9c9;

body .wrapper h2 {
    background: none repeat scroll 0 0 #29C5E6;
    color: #fff;
    font: 300 30px @brand-font;
    padding: 0 10px;
    text-transform: uppercase;
}

body .wrapper .team .row {
    margin-top: 20px;
}
body .wrapper .team .row .col {
    white-space:  nowrap;
}
body .wrapper .team .row .col .thumbnail {
    margin-bottom: 5px;
}

body .wrapper .team .row .col-md-offset-1 {
				  	margin-left: 3.7%;
				}

body .wrapper .team .row .caption h3 {
						font: 300 16px @brand-font;
						margin: 0;
				  	}

body .wrapper .team .row .caption p {
						font: 300 14px @brand-font;
						color: @brand-primary;
						margin: 0;
				  	}
footer {
  	background: #7e7e7e;
  	color: #dbdbdb;
  	font-size: 11px;
}
footer .container {
		height: 110px;
		padding: 10px 0;
	}

body footer .container h3 {
			  	border-bottom: 1px solid #919191;
			  	color: #ffffff;
			  	font-size: 14px;
			  	line-height: 21px;
			  	font-family: @brand-font;
			  	margin: 0 0 10px;
			  	text-transform: uppercase;
			}

body footer .container p {
			  	margin: 5px 0;

			}

body footer .container p .twitter p {
					padding-right: 15px;

				}

body footer .container p .twitter time a {
					color: #b4aeae;
					text-decoration: underline;
			  	}


body footer .container a {
			  	color: #dbdbdb;

			}

body footer .container a .sitemap a {
			  	display: block;
			  	font-size: 12px;
			 	margin-bottom: 5px;
			}

body footer .container .social .social-icon {
					width: 30px;
					height: 30px;
					background: url(../images/social.png) no-repeat;
					display: inline-block;
					margin-right: 10px;
			  	}

body footer .container .social .social-icon-small  {
					width: 16px;
					height: 16px;
					background: url(../images/social-small.png) no-repeat;
					display: inline-block;
					margin: 5px 6px 0 0;
			  	}

body footer .container .social .twitter { background-position: 0 0; }
body footer .container .social .facebook { background-position: -30px 0; }
body footer .container .social .google-plus { background-position: -60px 0; }
body footer .container .social .vimeo { background-position: 0 0; }
body footer .container .social .youtube { background-position: -16px 0; }
body footer .container .social .flickr { background-position: -32px 0; }
body footer .container .social .instagram { background-position: -48px 0; }
body footer .container .social .rss { background-position: -64px 0; }


body .footer .container .footer-logo {
			  	float: right;
			  	margin-top: 20px;
			  	font-size: 10px;
			  	text-align: right;
}
body .footer .container .footer-logo a {
					text-decoration: underline;
				}
